body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #52a4b3;
}
h1 {
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
}

main {
  max-width: 800px;
  margin: 50px auto;
  height: 100%;
  padding: 10px;
}

.logo img {
  width: 380px;
  height: 42px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  margin: 40px 0;
}

nav a {
  color: #28536b;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  background-image: linear-gradient(#28536b, #28536b);
  background-size: 0 1px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: background-size 175ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav a:hover {
  background-size: 32px 1px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.main {
  margin-top: 60px;
  display: flex;
  place-items: center;
  justify-content: space-between;
}
.about {
  width: 60%;
}
.about p {
  margin-top: 36px;
  font-size: 18px;
  line-height: 26px;
  color: #393939;
}
.map {
  width: 30%;
}
.map img {
  max-height: 75vh;
  width: 100%;
}

.buttons {
  margin: 60px 0;
  white-space: nowrap;
  display: flex;
}

.buttons a:first-of-type {
  margin-right: 36px;
}

a.button {
  text-transform: uppercase;
  border-radius: 10px;
  height: 38px;
  width: 240px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  place-items: center;
}

a.button.primary {
  background-color: #28536b;
  color: #ffffff;
}
a.button.primary:hover {
  background-color: #204559;
}
a.button.secondary {
  background-color: #e6f2f5;
  color: #52a4b3;
}
a.button.secondary:hover {
  background-color: #cce5eb;
}

.icon-link {
  background-image: url("assets/images/external-link.svg");
  height: 21px;
  width: 21px;
  display: inline-block;
  position: relative;
  left: 5px;
  top: -2px;
}

.wave {
  display: block;
  background-image: url("assets/images/background.svg");
  flex-grow: 1;
  height: 250px;
}

.info {
  background: #f2f8f8;
}
.questions {
  display: flex;
  justify-content: space-between;
}
.questions h1,
ul {
  display: inline-block;
}

.questions h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 25px 0 50px 0;
}

.questions li {
  color: #52a4b3;
  font-size: 18px;
  font-weight: 700;
  list-style-type: none;
  padding: 18px;
  border-bottom: 2px solid #52a4b326;
}
.questions li:first-of-type {
  border-top: 2px solid #52a4b326;
}

.common-questions {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.contact {
  margin-top: 150px;
  padding-bottom: 100px;
}

.contact h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
}

.faq {
  width: 47%;
}
.tab {
  overflow: hidden;
}
.tab-label {
  line-height: 28px;
}
p.tab-content {
  max-height: 0;
  overflow: hidden;
  color: #505050;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 16px 0 0 0;
}

@media (max-width: 1100px) {
  nav {
    display: none;
  }
  header {
    justify-content: center;
  }
  .content {
    width: 100%;
  }

  .main {
    flex-direction: column;
  }

  .map {
    opacity: 0.1;
    position: absolute;
    top: 100px;
    width: 60%;
  }

  .about {
    z-index: 1;
    width: 80%;
  }

  .buttons {
    flex-direction: column;
  }

  a.button {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
    padding: 15px 0;
  }

  .questions {
    flex-direction: column;
    width: 80%;
  }

  .info h1 {
    line-height: 50px;
    text-align: center;
  }

  .faq {
    width: 100%;
  }

  .common-questions {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }
  .common-questions img {
    max-width: 300px;
  }

  .contact {
    width: 80%;
  }
}
